<div ng-show="!isLoggedIn" class="logIn">
    <h2 style="text-align: center">Logga in</h2>
    <form ng-submit="loggIn()">
        <label class="logIn">Username<br/><input type="text" ng-model="username" class="input-lg logIn"/></label><br/>
        <label class="logIn">Password<br/><input type="password" ng-model="password" class="input-lg logIn"/></label><br/>                    
        <div class=""><input type="submit" value="Logga in" class="btn btn-info btn-block"/></div>
        <br/>
    </form></div>

<div ng-show="isLoggedIn">
    <div>Here you give me the secret recipe to cake</div>
    <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Change</button>
    <form>
        <ul class="form-style-1 formLi">
            <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />
                &nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
            <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" name="field3" class="field-long" />
            </li>
            <li>
                <label>Subject</label>
                <select name="field4" class="field-select" ng-model="vald">
                    <option ng-repeat="ing in ingredients" value="{{ing.id}}">{{ing.name}}</option>
                </select><input class="field4Input" type="text" maxlength="6" size="4">
            </li>
            <li>
                <label>Your Message <span class="required">*</span></label>
                <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
            </li>
            <li>
                <input type="submit" value="Submit" />
            </li>
            <li>test {{vald}}</li>
        </ul>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add an ingredient</h4>
            </div>
            <div class="modal-body">

                <form ng-submit="addIng()">
                    <span><span class="distance"><label><span class="ing">Name of ing</span><input type="text" class="inputIngAdd" ng-model="modalIngName">
                            </label></span><br/>
                    <label><span class="ing">Info about ing</span><input type="text" class="inputIngAdd" ng-model="modalIngInfo">
                            </label>
                        </span>
                    
                    <br/>
                    <div class="modal-footer">
                        <input type="submit" value="Add Ing" class="btn btn-block btn-info"/>
                    </div></form>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->