<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Cookie is rewarded after you´ve logged in</h2>
            <table class="table table-striped">
                <tr><th>Category</th><th>Name</th></tr>
                <tr ng-repeat="recipe in recipes">
                    <td><button ng-click="fillRecipe(recipe.id)" class="btn btn-success" data-toggle="modal" data-target="#myModal">View</button></td>
                    <td>{{recipe.cat}}</td>
                    <td>{{recipe.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>